<!-- <p>Pages#owner | Indeworkspace page for owner</p> -->

<div class="banner banner_owner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Share Space</h1>
    <p>MORE THAN SIMPLY A PLACE TO PLUG IN YOUR LAPTOP.</p>

    <%= link_to 'Add your workspace', new_owner_workspace_path(current_owner), :class => "btn btn-primary btn-lg" %>
    <a class="btn btn-primary btn-lg">details</a>
  </div>
</div>


<!-- CARD  -->

<div class="container">
  <h2 class="text-center">Spaces around the world</h2>
  <div class="cards">
    <div class="row">

      <!-- CARD PART -->
      <% @workspaces.each do |x| %>
        <div class="col-xs-12 col-sm-4">
        <div class="card">

              <!-- CARD: body -->
              <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= Workspace::TEMP_IMG.sample %>');">
                <span class="card-category"><%= x.space_type %></span>
                <div class="card-description">
                  <h2><%= x.name %></h2>
                  <p><%= x.city %>, <%= x.country %></p>
                </div>
                <img class="card-user avatar avatar-large" src="<%= x.logo %>">
                <a class="card-link" href="index.html#"></a>
              </div>

              <!-- CARD: footer -->
              <div class="card-footer">
                <p>Price $<%= x.price_per_day %>/day</p>
                <div class="controls">
                  <a href="index.html#">
                    <i class="fa fa-star"></i>
                  </a>
                </li>
                <a href="index.html#">
                  <i class="fa fa-heart"></i>
                </a>
              </li>
              <a href="index.html#">
                <i class="fa fa-share"></i>
              </a>
            </li>
            </div>
            </div>
          </div>

        </div>
      <% end %>
      <!-- CARD PART -->
    </div>
</div>
</div>

<!-- CARD  -->
