<% @workspaces.each do |workspace| %>
  <h2><%= workspace.price_per_day %></h2>
  <h2><%= workspace.space_type %></h2>
  <h2><%= workspace.capacity_max %></h2>
  <h2><%= workspace.environment %></h2>
  <h2><%= workspace.available_time %></h2>
  <h2><%= workspace.catering %></h2>
  <h2><%= workspace.security %></h2>
  <h2><%= workspace.media %></h2>
  <h2><%= workspace.free_rooms %></h2>
  <h2><%= workspace.pet_friendly %></h2>
  <h2><%= workspace.utilities %></h2>
  <h2><%= workspace.address %></h2>
  <h2><%= workspace.near_location %></h2>
  <h2><%= workspace.contact_number %></h2>
  <h2><%= workspace.contact_name %></h2>
  <h2><%= workspace.email %></h2>

<% end %>





<h1>Workspaces#index</h1>
<p>Find me in app/views/workspaces/index.html.erb</p>
