<h1> Let's add your workspace!</h1>
<div class="container">


<%= simple_form_for [@owner, @workspace] do |f| %>
  <div><%= f.input :name, placeholder: "space name"%></div>
          <div class="row">
        <div class="col-sm-6">
  <%= f.input :space_type, collection: Workspace::SPACETYPE %>
  <%= f.input :environment, collection: Workspace::ENVIRONMENT %>
  <%= f.input :theme, collection: Workspace::THEME %>
  <%= f.input :available_time, collection: Workspace::AVAILABLE_TIME %>
  <%= f.input :catering, collection: Workspace::CATERING %>
    </div>
    <div class="col-sm-6">
  <%= f.input :security, collection: Workspace::SECURITY %>
  <%= f.input :media, collection: Workspace::MEDIA %>
  <%= f.input :services, collection: Workspace::SERVICES %>
  <%= f.input :free_rooms, collection: Workspace::FREEROOMS %>
  <%= f.input :parking, collection: Workspace::PARKING %>
    </div>

  <div>
  <%= f.submit "add workspace", class: "btn btn-primary btn-margin text-center" %>
</div>
    <% end %>
  </div>
</div>

